.tranzaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tranzaction nav {
  width: 100%;
  height: 78px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  gap: 16px;
}
.tranzaction nav .back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tranzaction nav .left p {
  font-size: 14px;
  color: var(--inactive);
}
.tranzaction .plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}
.tranzaction .plans h3 {
  color: rgb(156, 163, 175);
}
.tranzaction .plans .plan {
  border: 1px solid #333;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  transition: 0.2s;
}
.tranzaction .plans .plan input {
  width: 24px;
  height: 24px;
  visibility: hidden;
}
.tranzaction .plans .plan.active {
  border-color: #7d5cff;
  background-image: linear-gradient(to right, rgba(88, 28, 135, 0.4), rgba(15, 23, 42, 0.4));
  --tw-shadow: 0 0 20px rgba(168, 85, 247, 0.15);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow);
  scale: 1.01;
}
.tranzaction .plans .plan.active input {
  visibility: visible;
}
.tranzaction .plans .contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--inactive);
}
.tranzaction .plans .contents .content {
  display: flex;
  gap: 12px;
  align-items: center;
}
.tranzaction .plans .contents .content .card-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 204, 204, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tranzaction .plans .contents .content .top {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.tranzaction .plans .contents .content .top h3 {
  color: white;
  line-height: 28px;
}
.tranzaction .quato p {
  display: flex;
  gap: 8px;
  color: var(--inactive);
  padding: 8px 0;
  font-size: 12px;
  margin-top: 24px;
}
.tranzaction footer {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: rgba(15, 23, 42, 0.9);
  margin-top: 24px;
  padding: 16px 16px 32px 16px;
}
.tranzaction footer .right p {
  font-size: 12px;
  line-height: 16px;
  color: var(--inactive);
}
.tranzaction footer .right h2 {
  line-height: 32px;
}
.tranzaction footer .pay-btn {
  width: 50%;
  padding: 14px 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  border: none;
  gap: 8px;
  cursor: pointer;
  --tw-shadow: 0 0 20px rgba(6, 182, 212, 0.4);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), var(--tw-shadow);
}
.tranzaction footer .pay-btn:hover {
  background: rgb(34, 211, 238);
}/*# sourceMappingURL=tranzaction.css.map */