.tranzaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    nav {
        width: 100%;
        height: 78px;
        border-bottom: 1px solid rgb(255 255 255 / 0.05);
        display: flex;
        align-items: center;
        gap: 16px;
        .back-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(255 255 255 / 0.05);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .left {
            p {
                font-size: 14px;
                color: var(--inactive);
            }
        }
    }
    
    .plans {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
        h3 {
            color: rgb(156 163 175);
        }
        .plan {
            border: 1px solid #333;
            padding: 16px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 16px;
            transition: 0.2s;
            input {
                width: 24px;
                height: 24px;
                visibility: hidden;
            }
        }
        .plan.active {
            border-color: #7d5cff;
            background-image: linear-gradient(to right, rgb(88 28 135 / 0.4), rgb(15 23 42 / 0.4));
            --tw-shadow: 0 0 20px rgba(168, 85, 247, 0.15);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            scale: 1.01;
            input {
                visibility: visible;
            }
        }
        .contents {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--inactive);
            .content {
                display: flex;
                gap: 12px;
                align-items: center;
                .card-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgb(0 204 204 / 0.2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .top {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    align-items: start;
                    h3 {
                        color: white;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .quato {
        p {
            display: flex;
            gap: 8px;
            color: var(--inactive);
            padding: 8px 0;
            font-size: 12px;
            margin-top: 24px;
        }
    }

    footer {
        width: 100%;
        border-top: 1px solid rgb(255 255 255 / 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        background: rgb(15 23 42 / 0.9);
        margin-top: 24px;
        padding: 16px 16px 32px 16px;
        .right {
            p {
                font-size: 12px;
                line-height: 16px;
                color: var(--inactive);
            }
            h2 {
                line-height: 32px;
            }
        }
        .pay-btn {
            width: 50%;
            padding: 14px 24px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #000;
            font-weight: 700;
            border: none;
            gap: 8px;
            cursor: pointer;
            --tw-shadow: 0 0 20px rgba(6, 182, 212, 0.4);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            &:hover {
                background: rgb(34 211 238);
            }
        }
    }
}