:root {
    --inactive: #9ca3af;
}
button:active {
    scale: 0.95;
    transition: 0.2s;
}


.home-loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .pl {
        display: block;
        width: 9.375em;
        height: 9.375em;
    }
    .pl__ring-rotate,
    .pl__ring-stroke,
    .pl__tick {
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .pl__ring-rotate,
    .pl__ring-stroke {
        transform-origin: 80px 80px;
    }

    .pl__ring-rotate {
        animation-name: ringRotate42;
    }

    .pl__ring-stroke {
        animation-name: ringStroke42;
        transform: rotate(-45deg);
    }

    /* Animations */
    @keyframes arrows42 {
        from {
            transform: rotate(45deg);
        }

        to {
            transform: rotate(405deg);
        }
    }

    @keyframes ringRotate42 {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(720deg);
        }
    }

    @keyframes ringStroke42 {
        from,to {
            stroke-dashoffset: 452;
            transform: rotate(-45deg);
        }

        50% {
            stroke-dashoffset: 169.5;
            transform: rotate(-180deg);
        }
    }
}

.home {
    margin: 16px 0 32px 0;
    .user-info {
        width: 100%;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 48px;
                border-radius: 50%;
            }
            h1 {
                font-size: 20px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                p {
                    color: var(--inactive);
                    padding: 0;
                }
            }
        }
        p {
            padding: 8px 16px;
            border-radius: 20px;
            font-size: 14px;
            color: #22d3ee;
        }
    }
    .total-balance {
        width: 100%;
        padding: 24px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom right, rgba(16, 0, 29, 0.733) , rgba(12, 57, 160, 0.904));
        border-radius: 24px;
        p {
            color: var(--inactive);
        }
        h1 {
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 4px;
            margin-bottom: 24px;
            svg {
                width: 32px;
                height: 32px;
            }
        }
        button {
            width: 90%;
            padding: 14px 24px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #000;
            font-weight: 700;
            border: none;
            gap: 8px;
            cursor: pointer;
            --tw-shadow: 0 0 20px rgba(6, 182, 212, 0.4);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            background: rgb(34 211 238);
        }
    }
    .additions {
        display: flex;
        gap: 16px;

        .premium, .history {
            padding: 20px;
            width: 50%;
            margin: 24px 0;
            border-radius: 24px;
            color: white;
            text-align: start;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: rgb(255 255 255 / 0.1);
            }
            &:last-child {
                background-image: linear-gradient(to bottom right, rgb(88 28 135 / 0.4) , rgb(15 23 42 / 0.4));
                filter: drop-shadow(0px 0px 15px rgba(0, 136, 255, 0.693));
            }
            .addition-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                filter: drop-shadow(0px 0px 15px rgba(225, 255, 0, 0.693));
            }
            // .bg {
            //     background-image: linear-gradient(to bottom right, #a855f7, #db2777);
            // }
            h3 {
                line-height: 28px;
            }
            p {
                font-size: 12px;
                color: var(--inactive);
            }
        }
    }
    .offers {
        border-radius: 24px;
        overflow: hidden;
        border: none;
        background-image: linear-gradient(to right, #2563eb, #06b6d4);
        .offers-main {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: 10px;
                padding: 2px 8px;
                font-weight: 700;
                letter-spacing: 0.5px;
                border-radius: 4px;
            }
            h3 {
                margin: 8px 0 4px 0;
            }
            p {
                color: rgb(255 255 255 / 0.8);;
                font-size: 12px;
                font-weight: 400;
            }
        }
        button {
            width: 100%;
            background-color: rgb(31, 31, 31);
            text-decoration: none;
            color: white;
            padding: 12px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background-color: rgba(31, 31, 31, 0.9);
            }
            &:active {
                scale: 1;
            }
        }
    }
}