:root {
    --inactive: #9ca3af;
}

.home {
    .user-info {
        width: 100%;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 48px;
                border-radius: 50%;
            }
            h1 {
                font-size: 24px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                p {
                    color: var(--inactive);
                    padding: 0;
                }
            }
        }
        p {
            padding: 8px 16px;
            border-radius: 20px;
            font-size: 14px;
            color: #22d3ee;
        }
    }
    .total-balance {
        width: 100%;
        padding: 24px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 24px;
        p {
            color: var(--inactive);
        }
        h1 {
            font-size: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 4px;
            margin-bottom: 24px;
            svg {
                width: 32px;
                height: 32px;
            }
        }
        a {
            width: 90%;
            padding: 14px 24px;
            // background: #a9d606;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #000;
            font-weight: 800;
            gap: 8px;
        }
    }
}