.premium {
    nav {
        width: 100%;
        height: 78px;
        border-bottom: 1px solid rgb(255 255 255 / 0.05);
        display: flex;
        align-items: center;
        gap: 16px;
        .back-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(255 255 255 / 0.05);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .left {
            p {
                font-size: 14px;
                color: var(--inactive);
            }
        }
    }

    .plans {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
        h3 {
            color: rgb(156 163 175);
        }
        .plan {
            border: 1px solid #333;
            padding: 16px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 16px;
            transition: 0.2s;
            input {
                width: 24px;
                height: 24px;
            }
        }
        .plan.active {
            border-color: #7d5cff;
            background-image: linear-gradient(to right, rgb(88 28 135 / 0.4), rgb(15 23 42 / 0.4));
            --tw-shadow: 0 0 20px rgba(168, 85, 247, 0.15);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            scale: 1.01;
            .price {
                color: rgb(192 132 252);
            }
        }
        .contents {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .top {
                display: flex;
                align-items: center;
                gap: 16px;
                h3 {
                    color: white;
                    line-height: 28px;
                }
                .save {
                    background: rgb(75 85 99);
                    font-size: 12px;
                    padding: 3px 6px;
                    border-radius: 6px;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                }
            }
            .per-month {
                font-size: 12px;
                opacity: 0.7;
            }
            .price {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}