.stars {
    margin-bottom: 40px;
    nav {
        width: 100%;
        height: 78px;
        border-bottom: 1px solid rgb(255 255 255 / 0.05);
        display: flex;
        align-items: center;
        gap: 16px;
        .back-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(255 255 255 / 0.05);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .left {
            p {
                font-size: 14px;
                color: var(--inactive);
            }
        }
    }
    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 40px 0;
        .title-img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-image: linear-gradient(to bottom right, #facc15, #f97316);
            display: flex;
            align-items: center;
            justify-content: center;
            --tw-shadow: 0 0 30px rgba(251, 191, 36, 0.4);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
        }
        h2 {
            margin: 12px 0 4px 0;
        }
        p {
            color: var(--inactive);
            line-height: 22px;
        }
    }
    
    .plans {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
        input {
            accent-color: #ff0d00;
        }
        h3 {
            color: rgb(156 163 175);
        }
        .plan {
            border: 1px solid #333;
            padding: 16px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 16px;
            transition: 0.2s;
            input {
                width: 24px;
                height: 24px;
            }
        }
        .plan.active {
            border-color: #ffffff;
            background-image: linear-gradient(to right, #facc15, #f97316);
            --tw-shadow: 0 0 30px rgba(240, 251, 36, 0.33);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
            scale: 1.01;
            .price {
                color: rgb(255, 255, 255);
            }
        }
        .contents {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .top {
                display: flex;
                align-items: center;
                gap: 16px;
                h3 {
                    color: white;
                    line-height: 28px;
                }
            }
            .price {
                font-size: 18px;
                font-weight: 700;
            }
        }
        .buy-btn {
            margin-top: 24px;
            width: 100%;
            padding: 14px 0;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #000;
            font-weight: 700;
            border: none;
            gap: 8px;
            cursor: pointer;
            background-image: linear-gradient(to bottom right, #facc15, #f97316);
            --tw-shadow: 0 0 30px rgba(251, 191, 36, 0.4);
            box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
        }
    }
}